html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.full_wrapper {
  background: url(../images/background.png) no-repeat center center;
  background-size: auto;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.header_wrapper {
  padding: 29px 0;
  background: #0E3868;
  border-bottom: 1px solid #D4D4D4;
}
.header_wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_wrapper header .logo {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.header_wrapper header .logo img {
  height: 24px;
  width: 24px;
}
.header_wrapper header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  position: relative;
}
.header_wrapper header nav .menulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  position: relative;
}
.header_wrapper header nav .menulist a {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_wrapper header nav .menulist a:hover {
  color: #D4D4D4;
}
.header_wrapper header nav .moreBtn {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_wrapper header nav .moreBtn:hover {
  color: #D4D4D4;
}
.header_wrapper header nav .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
}
.header_wrapper header nav .dropdown-menu .drmenulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.header_wrapper header nav .dropdown-menu .drmenulist a {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #061f3b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
}
.header_wrapper header nav .dropdown-menu .drmenulist a:hover {
  background: #061f3b;
  color: #ffffff;
}
.header_wrapper header .auth_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.header_wrapper header .auth_area a {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: #0E3868;
  padding: 10px 16px;
  border-radius: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_wrapper header .auth_area a:hover {
  background: #061f3b;
}
.header_wrapper header .resauth_area {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  border-top: 1px solid #ffffff;
  padding: 10px;
  width: 100%;
}
.header_wrapper header .resauth_area a {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: #0E3868;
  padding: 10px 16px;
  border-radius: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_wrapper header .resauth_area a:hover {
  background: #061f3b;
}

.drmenulist a {
  display: none;
}

.togglebtn {
  margin-left: 20px;
  display: none;
}
.togglebtn button {
  color: #ffffff;
  font-size: 26px;
}
.togglebtn .menuClose {
  display: none;
}

.main_content_area {
  width: 100%;
}
.main_content_area .welcome_text {
  font-family: Inter;
  font-weight: 700;
  font-size: 10.01px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  background: #0E3868;
  padding: 6px 16px;
  display: inline;
  border-radius: 30px;
}
.main_content_area h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 50.22px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 9.71px #6F9CCF;
  margin-top: 25px;
}
.main_content_area h1 span {
  color: #71B3FF;
}
.main_content_area p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14.78px;
  line-height: 19.07px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  max-width: 783px;
  margin: 0 auto;
  margin-top: 10px;
}
.main_content_area .codegSpeciality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 48px;
}
.main_content_area .codegSpeciality .spItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_content_area .codegSpeciality .spItem img {
  width: 20px;
  height: 20px;
}
.main_content_area .codegSpeciality .spItem h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 14.78px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}
.main_content_area .codegSpeciality .spItem h3 {
  font-family: Inter;
  font-weight: 300;
  font-size: 9.85px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}
.main_content_area .getstarted {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2588235294);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2588235294);
  background: #0E3868;
  border: 1px solid #FFFFFF;
  padding: 10px 23px;
  border-radius: 30px;
}

.authform_area {
  background: #0E3868;
  border: 1.19px solid rgba(255, 255, 255, 0.2588235294);
  padding: 30px 16px;
  width: 316px;
  border-radius: 10px;
  margin: 20px auto;
}
.authform_area h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 21.43px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  text-shadow: none;
  margin-top: 0;
  text-align: left;
}
.authform_area h1 img {
  width: 15px;
}
.authform_area p {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.91px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.authform_area p a {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.91px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.input_feild {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.input_feild label {
  font-family: Inter;
  font-weight: 400;
  font-size: 14.29px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  margin-bottom: 5px;
}
.input_feild input {
  border: 1.19px solid #FFFFFF;
  background: #000000;
  padding: 7px 10px;
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14.29px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  color: #FFFFFF;
}
.input_feild .showpassword_look_area {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.input_feild .showpassword_look_area span {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.input_feild .showpassword_look_area .passshow {
  display: none;
}

.commonbtn {
  font-family: Inter;
  font-weight: 400;
  font-size: 14.29px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  background: #001E40;
  width: 152px;
  margin: 20px auto;
  padding: 8px;
  border-radius: 7px 4px 7px 4px;
}

.searchinput {
  position: relative;
  margin-top: 25px;
}
.searchinput input {
  color: #FFFFFF;
  background: #001E40;
  border-radius: 7px;
  height: 51px;
  width: 700px;
  padding: 7px 10px 7px 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14.78px;
  line-height: 19.07px;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: middle;
}
.searchinput .search_icon {
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  position: absolute;
}

footer {
  padding-bottom: 20px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
footer ul li {
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
footer ul li a {
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

@media (max-width: 1440px) {
  .header_wrapper header nav .moreBtn {
    display: block;
  }
  .menulist .navlink_items_five {
    display: none;
  }
  .drmenulist .navlink_items_drpfive {
    display: block;
  }
}
@media (max-width: 1320px) {
  .menulist .navlink_items_four {
    display: none;
  }
  .drmenulist .navlink_items_drpfour {
    display: block;
  }
}
@media (max-width: 1080px) {
  .togglebtn {
    display: block;
    width: 30px;
  }
  .moreBtn {
    display: none !important;
  }
  .header_wrapper {
    position: relative;
  }
  .header_wrapper header nav {
    position: absolute;
    top: 100%;
    left: -100%;
    background: #0E3868;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_wrapper header .menushow {
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_wrapper header nav .menulist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 10px;
  }
  .header_wrapper header nav .menulist a {
    padding: 10px;
    width: 100%;
  }
  .header_wrapper header nav .menulist a:hover {
    background: #FFFFFF;
    color: #0E3868;
  }
  .menulist .navlink_items_four,
  .menulist .navlink_items_five {
    display: block;
  }
}
@media (max-width: 768px) {
  .searchinput input {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .searchinput input {
    width: 390px;
  }
}
@media (max-width: 420px) {
  .header_wrapper header .resauth_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_wrapper header .auth_area a {
    display: none;
  }
  .searchinput input {
    width: 100%;
  }
}
@media (max-width: 374px) {
  .main_content_area h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=styles.css.map */