.header_wrapper {
    padding: 29px 0;
    background: #0E3868;
    border-bottom: 1px solid #D4D4D4;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #ffffff;
            display: flex;
            justify-content: start;
            align-items: center;
            column-gap: 7px;

            img {
                height: 24px;
                width: 24px;
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 15px;
            position: relative;

            .menulist {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 15px;
                position: relative;

                a {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #ffffff;
                    transition: all 0.3s ease;

                    &:hover {
                        color: #D4D4D4;
                    }

                }
            }


            .moreBtn {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #ffffff;
                display: none;
                transition: all 0.3s ease;

                &:hover {
                    color: #D4D4D4;

                }
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                right: 0;

                .drmenulist {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    a {
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #061f3b;
                        transition: all 0.3s ease;
                        padding: 10px;

                        &:hover {

                            background: #061f3b;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .auth_area {
            display: flex;
            justify-content: end;
            align-items: center;
            column-gap: 6px;

            a {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                background: #0E3868;
                padding: 10px 16px;
                border-radius: 30px;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    background: #061f3b;
                }
            }
        }

        .resauth_area {

            display: none;
            justify-content: end;
            align-items: center;
            column-gap: 6px;
            border-top: 1px solid #ffffff;
            padding: 10px;
            width: 100%;

            a {
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                background: #0E3868;
                padding: 10px 16px;
                border-radius: 30px;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    background: #061f3b;
                }
            }
        }
    }


}

.drmenulist {
    a {
        display: none;
    }
}

.togglebtn {
    margin-left: 20px;
    display: none;

    button {
        color: #ffffff;
        font-size: 26px;
    }

    .menuClose {
        display: none;
    }
}

.main_content_area {
    width: 100%;

    .welcome_text {
        font-family: Inter;
        font-weight: 700;
        font-size: 10.01px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
        background: #0E3868;
        padding: 6px 16px;
        display: inline;
        border-radius: 30px;
    }

    h1 {
        font-family: Inter;
        font-weight: 600;
        font-size: 50.22px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 0 9.71px #6F9CCF;
        margin-top: 25px;

        span {
            color: #71B3FF;
        }
    }

    p {
        font-family: Inter;
        font-weight: 400;
        font-size: 14.78px;
        line-height: 19.07px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        text-align: center;
        max-width: 783px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .codegSpeciality {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 25px auto;
        column-gap: 48px;
        flex-wrap: wrap;
        row-gap: 48px;

        .spItem {
            display: flex;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            flex-direction: column;

            img {
                width: 20px;
                height: 20px;
            }

            h2 {
                font-family: Inter;
                font-weight: 700;
                font-size: 14.78px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #ffffff;

            }

            h3 {
                font-family: Inter;
                font-weight: 300;
                font-size: 9.85px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #ffffff;
            }
        }
    }

    .getstarted {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
        box-shadow: 0px 1px 4px 0px #00000042;
        background: #0E3868;
        border: 1px solid #FFFFFF;
        padding: 10px 23px;
        border-radius: 30px;

    }
}

.authform_area {
    background: #0E3868;
    border: 1.19px solid #FFFFFF42;
    padding: 30px 16px;
    width: 316px;
    border-radius: 10px;
    margin: 20px auto;

    h1 {
        font-family: Inter;
        font-weight: 400;
        font-size: 21.43px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #FFFFFF;
        text-shadow: none;
        margin-top: 0;
        text-align: left;

        img {
            width: 15px;
        }
    }

    p {
        font-family: Inter;
        font-weight: 400;
        font-size: 11.91px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;

        a {
            font-family: Inter;
            font-weight: 400;
            font-size: 11.91px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
        }
    }
}

.input_feild {
    width: 100%;
    margin-top: 20px;
    position: relative;

    label {
        font-family: Inter;
        font-weight: 400;
        font-size: 14.29px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
        margin-bottom: 5px;
    }

    input {
        border: 1.19px solid #FFFFFF;
        background: #000000;
        padding: 7px 10px;
        width: 100%;
        font-family: Inter;
        font-weight: 400;
        font-size: 14.29px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
        color: #FFFFFF;

    }

    .showpassword_look_area {
        position: absolute;
        right: 10px;
        bottom: 8px;

        span {
            color: #ffffff;
            font-size: 14px;
            cursor: pointer;
        }

        .passshow {
            display: none;
        }
    }
}

.commonbtn {
    font-family: Inter;
    font-weight: 400;
    font-size: 14.29px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    background: #001E40;
    width: 152px;
    margin: 20px auto;
    padding: 8px;
    border-radius: 7px 4px 7px 4px;
}

.searchinput {
    position: relative;
    margin-top: 25px;

    input {
        color: #FFFFFF;
        background: #001E40;
        border-radius: 7px;
        height: 51px;
        width: 700px;
        padding: 7px 10px 7px 40px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14.78px;
        line-height: 19.07px;
        letter-spacing: 0%;
        text-align: left;
        vertical-align: middle;

    }

    .search_icon {
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        position: absolute;
    }
}

footer {
    padding-bottom: 20px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;

        li {
            font-family: Inter;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #ffffff;

            a {
                font-family: Inter;
                font-weight: 300;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                color: #ffffff;
            }
        }
    }
}

.voicespItem {
    border: 1.19px solid #FFFFFF42;
    color: #0E3868;
    border-radius: 11px;
    padding: 37px 17px;
    max-width: 300px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;

    h2 {
        font-family: Inter;
        font-weight: 400;
        font-size: 21.43px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #ffffff;
    }

    h3 {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;

        a {
            font-family: Inter;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #ffffff;
        }
    }

    a {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
    }
}

@media (max-width: 1440px) {
    .header_wrapper header nav .moreBtn {
        display: block;
    }

    .menulist {
        .navlink_items_five {
            display: none;
        }
    }

    .drmenulist {
        .navlink_items_drpfive {
            display: block;
        }
    }
}

@media (max-width: 1320px) {
    .menulist {
        .navlink_items_four {
            display: none;
        }
    }

    .drmenulist {
        .navlink_items_drpfour {
            display: block;
        }
    }
}

@media (max-width: 1080px) {
    .togglebtn {
        display: block;
        width: 30px;
    }

    .moreBtn {
        display: none !important;
    }

    .header_wrapper {
        position: relative;
    }

    .header_wrapper header nav {
        position: absolute;
        top: 100%;
        left: -100%;
        background: #0E3868;
        transition: all 0.3s ease;
    }

    .header_wrapper header .menushow {
        left: 0;
        transition: all 0.3s ease;
    }

    .header_wrapper header nav .menulist {
        flex-direction: column;
        align-items: start;
        padding: 10px;

    }

    .header_wrapper header nav .menulist a {
        padding: 10px;
        width: 100%;

        &:hover {
            background: #FFFFFF;
            color: #0E3868;

        }
    }

    .menulist {

        .navlink_items_four,
        .navlink_items_five {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .searchinput input {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .searchinput input {
        width: 390px;
    }
}

@media (max-width:420px) {
    .header_wrapper header .resauth_area {
        display: flex;
    }

    .header_wrapper header .auth_area a {
        display: none;
    }

    .searchinput input {
        width: 100%;
    }
}

@media (max-width:374px) {
    .main_content_area h1 {
        font-size: 40px;
    }
}